<mat-toolbar color="warn" style="position:fixed; top:0; left:0; width: 100vw; z-index: 2;">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div fxLayout="column" style="margin-left: 1rem;">
      <div>Overview</div>
      <div fxLayout="row" fxLayoutAlign="start center" style="font-size: .875rem;">{{company}}<mat-icon>arrow_drop_down</mat-icon></div>
    </div>
    <div fxFlex></div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="margin-top:64px;"></div>
<router-outlet></router-outlet>