mat-card {
  padding: 0;
  margin: 5px;
}

.mat-card-header,
.mat-card-content {
  padding: 16px;
}

.mat-card-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.industrial-bg {
    background-image: url("../../assets/industrial-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.overlay {
    position: absolute;
    height: 96px;
    top: 0;
    left: 0;
    right: 0;
    opacity: .8;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.alarm-overlay {
    @extend .overlay;
    background-color: #ca3c3d;
}

.standard-overlay {
    @extend .overlay;
    background-color: #007bc1;
}

.mat-card-content {
  margin-bottom: 0;
  padding-top: 0;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.mat-card-footer {
  margin: 0;
  padding: 0;
}

.mat-card-footer:hover {
  cursor: pointer;
}

i {
  font-size: 36px;
}

.content-icon {
  margin-top: -2px;
  margin-right: 1rem;
}

.content-left {
  margin-bottom: 0.5rem;
}

.blue-text {
  color: #007bc1;
}

.red-text {
  color: #ca3c3d;
}
